db.sqllite
fastapi-env.7z
pyscdb.session.sql
pyscnomicsapp.7z
pyscnomicsapp#3.7z
pyscnomicsapp#4.7z
pyscnomicsapp#5.7z
pyscnomicsapp#6.7z
sample proj DB.session.sql
Launcher/pylauncher.map
static/
vue-src/node_modules/
velz-vue-env/
Data/
~tmp/
pyapp/__pycache__/
pyapp/crud/__pycache__/
pyapp/database/__pycache__/
pyapp/models/__pycache__/
pyapp/modules/__pycache__/
pyapp/routes/__pycache__/
pyapp/shemas/__pycache__/
pyscnomics/__pycache__/
pyscnomics/api/__pycache__/
pyscnomics/contracts/__pycache__/
pyscnomics/dataset/__pycache__/
pyscnomics/econ/__pycache__/
pyscnomics/io/__pycache__/
pyscnomics/optimize/__pycache__/
pyscnomics/tools/__pycache__/
vue-src/pnpm-lock.yaml
vue-src/.env.example
vue-src/README.md
*.7z
